@font-face {
  font-family: "SCoreDream";
  font-weight: 900;
  font-display: swap;
  src:
    local("SCDream9"),
    url("../../fonts/S-Core_Dream/woff2/SCDream9.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream9.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 800;
  font-display: swap;
  src:
    local("SCDream8"),
    url("../../fonts/S-Core_Dream/woff2/SCDream8.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream8.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 700;
  font-display: swap;
  src:
    local("SCDream7"),
    url("../../fonts/S-Core_Dream/woff2/SCDream7.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream7.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 600;
  font-display: swap;
  src:
    local("SCDream6"),
    url("../../fonts/S-Core_Dream/woff2/SCDream6.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream6.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 500;
  font-display: swap;
  src:
    local("SCDream5"),
    url("../../fonts/S-Core_Dream/woff2/SCDream5.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream5.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 400;
  font-display: swap;
  src:
    local("SCDream4"),
    url("../../fonts/S-Core_Dream/woff2/SCDream4.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream4.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 300;
  font-display: swap;
  src:
    local("SCDream3"),
    url("../../fonts/S-Core_Dream/woff2/SCDream3.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream3.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 200;
  font-display: swap;
  src:
    local("SCDream2"),
    url("../../fonts/S-Core_Dream/woff2/SCDream2.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream2.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 100;
  font-display: swap;
  src:
    local("SCDream1"),
    url("../../fonts/S-Core_Dream/woff2/SCDream1.woff2") format("woff2"),
    url("../../fonts/S-Core_Dream/otf/SCDream1.otf") format("opentype");
}
