@charset "utf-8";

/* Animation
.gnb_pc,  .gnb_pc > nav, .gnb_pc > nav > ul,  .gnb_pc > nav > ul > li
{
	transition:all ease 0.8s ;
    -webkit-transition:all ease 0.8s;
}*/
.gnb_pc .th2,
.quick {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.group .state .in_box {
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
}

html,
body,
#wrap {
  height: 100%;
}
#wrap {
  width: 100%;
  min-width: 320px;
}
header {
  z-index: 9;
  background-color: #fff;
}
#container {
  margin: 0;
  padding-bottom: 150px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
#container.main {
  padding-bottom: 0;
}
#container > div {
  padding: 100px 0 0;
}

#container.main {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
#container.main .wr {
  width: 90%;
  max-width: 1520px;
  margin: 0 auto;
}

/* 공통 */
.posiY {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.posiXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header */
.top_area {
  width: 100%;
  max-width: 1520px;
  height: 50px;
  margin: 0 auto;
}
.top_area:after {
  content: "";
  display: block;
  clear: both;
}
.top_area > ul {
  float: right;
  margin-top: 10px;
}
.top_area > ul > li {
  display: inline-block;
  position: relative;
}
.top_area > ul > li:last-child {
  margin-left: 11px;
  padding-left: 15px;
}
.top_area > ul > li:last-child:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 1px;
  height: 12px;
  background-color: #cbcbcb;
}
.top_area > ul > li > a,
.top_area > ul > li > a:before {
  display: inline-block;
  vertical-align: middle;
}
.top_area > ul > li > a {
  line-height: 22px;
  font-size: 1.4rem;
  color: #555;
}
.top_area > ul > li:nth-child(1) > a {
  width: 176px;
  height: auto;
  padding: 4px 6px 2px 4px;
  margin-right: 20px;
  text-align: left;
  color: #23246c;
  border: 1px solid #23246c;
  border-radius: 5px;
  box-sizing: border-box;
}
.top_area > ul > li:nth-child(1) > a:before {
  margin-right: 8px;
  width: 22px;
  vertical-align: middle;
  background-position: -400px 0;
}
.top_area > ul > li:nth-child(2) > a:before {
  margin-right: 7px;
  background-position: -432px 3px;
}
.top_area > ul > li:nth-child(3) > a:before {
  margin-right: 7px;
  background-position: -456px 4px;
}
.top_area > ul > li:nth-child(4) > a:before {
  width: 0;
  margin-right: 0;
  background: none;
}

.top_area > ul.login_util > li {
  margin-left: 11px;
  padding-left: 15px;
}
.top_area > ul.login_util > li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.top_area > ul.login_util > li:first-child > a {
  width: auto;
  height: auto;
  padding: 4px 6px;
  margin-right: 0;
  text-align: left;
  color: #555;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
} /*2022-12 자가검진 ...*/
.top_area > ul.login_util > li:first-child > a > strong {
  color: #008dc9;
}
.top_area > ul.login_util > li:nth-child(3) > a:before {
  background-position: -504px 3px;
}
.top_area > ul > li strong {
  color: #007baf;
}
.top_area > ul.login_util > li .cartCount {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-left: 8px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  vertical-align: middle;
}

/* logo */
.top_area {
  position: relative;
}
.top_area h1 {
  position: absolute;
  left: 0;
  top: 68px;
  width: 459px;
  height: 64px;
  z-index: 12;
}
.top_area h1 a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  background: url("../images/downloaded/logo.png") no-repeat center center / contain;
}
.top_area.move h1 {
  position: fixed;
  top: 18px;
  left: calc(50% - 760px);
}

/* GNB */
.gnb_area {
  z-index: 11;
  position: relative;
  width: 100%;
}
.gnb_area.move {
  position: fixed;
  top: 0px;
}
.gnb_area.move .gnb_pc {
  border-top: 0;
}

.gnb_nav {
  font-size: 0;
}
.gnb_pc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.gnb_pc.on {
  border-bottom: 0;
  box-shadow: 3px 30px 30px rgba(0, 0, 0, 0.05);
}
.gnb_pc.stop {
  box-shadow: none !important;
}
.gnb_pc > nav {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding-left: 550px;
  box-sizing: border-box;
  height: 100px;
}
.gnb_pc > nav > ul {
  width: calc(100% - 70px);
  margin-right: 60px;
  padding-top: 25px;
}
/*.gnb_pc > nav > ul:after{content:'';display:block;clear:both;}*/
.gnb_pc > nav > ul > li {
  float: left;
  max-width: 12%;
  vertical-align: top;
  width: 100%;
}
.gnb_pc > nav > ul > li:nth-child(2) {
  max-width: 12%;
}
.gnb_pc > nav > ul > li:nth-child(3) {
  max-width: 16%;
}
.gnb_pc > nav > ul > li:nth-child(4) {
  max-width: 15%;
}
.gnb_pc > nav > ul > li:nth-child(5) {
  max-width: 18%;
}
.gnb_pc > nav > ul > li:nth-child(6) {
  max-width: 14%;
}
.gnb_pc > nav > ul > li a {
  display: block;
}
.gnb_pc .th1 > a {
  display: block;
  padding-right: 0px;
  white-space: nowrap;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  font-weight: 600;
}
.gnb_pc .th1.on > a {
}

.gnb_pc .th2 {
  padding: 0;
  width: 100%;
  height: 0;
  text-align: left;
}
.gnb_pc .th2 > li > a {
  visiblity: hidden;
  word-break: break-all;
  margin-bottom: 10px;
  padding-right: 10px;
}
.gnb_pc .th2.on > li > a {
  visiblity: visible;
}
.gnb_pc .th2.on {
  padding: 20px 0 30px 0px;
  height: auto;
}
.gnb_pc .th2.on > li {
  margin-bottom: 5px;
}
.gnb_pc .th2.on > li > a {
  color: #222;
  font-size: 1.7rem;
}
.gnb_pc .th2 > li > a:hover,
.gnb_pc .th3 > li > a:hover {
  color: #1f619f;
  font-weight: 500;
}

.gnb_pc .th2.on .th3 {
  margin: 0px 0 10px 5px;
}
.gnb_pc .th2.on .th3 li {
  line-height: 1.5em;
  font-size: 1.5rem;
}
.gnb_pc .th2.on .th3 > li > a:before {
  display: inline-block;
  margin-right: 5px;
  content: "-";
  vertical-align: 3px;
}
.gnb_pc .th2.reset,
.gnb_pc .th3.reset {
  display: block !important;
}
.gnb_pc .th2 .th3 > li > a {
  text-indent: -5px;
  padding-left: 15px;
}

.gnb_pc.stop .th2 {
  display: none !important;
}

.btn_home {
  display: none;
}
.btn_home.on {
  display: block;
  position: absolute;
  top: 0px;
  right: 50%;
  width: 50px;
  height: 50px;
  margin-right: -600px;
  text-align: center;
}
.btn_home.on > a {
  display: inline-block;
  width: 33px;
  height: 28px;
  font-size: 0;
  line-height: 0;
  vertical-align: 5px;
  background: url("../images/downloaded/ico_all.png") no-repeat -250px 0;
}

/* 전체메뉴 */
.all_menu {
  display: block;
  position: absolute;
  top: 25px;
  right: calc(50% - 720px);
}
.all_menu > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 2.4rem;
  text-align: center;
}
.all_menu_area {
  z-index: 99;
  display: none;
  position: absolute;
  top: 101px;
  left: 0;
  width: 100%;
  max-width: 1520px;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.all_menu_area.on {
  display: block;
}

.all_menu_area ul a {
  display: block;
}
.all_menu_area > ul {
  display: table;
  table-layout: fixed;
  width: calc(100% - 41px);
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 3px 30px 30px rgba(0, 0, 0, 0.05);
}
.all_menu_area > ul > li {
  display: table-cell;
  table-layout: fixed;
  width: calc(100% / 6);
}
.all_menu_area > ul > li:last-child {
  border-right: none;
}
.all_menu_area > ul > li > a {
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  font-size: 2rem;
  background-color: #f8f8f8;
  font-weight: bold;
}
.all_menu_area > ul > li > ul {
  padding: 20px 30px;
}
.all_menu_area > ul > li > ul > li > a {
  margin-bottom: 10px;
  font-size: 1.7rem;
  padding-left: 10px;
  text-indent: -10px;
}

/*.all_menu_area > ul > li > ul > li > a:before{content:'';display:inline-block;vertical-align:5px;margin-right:5px;width:5px;height:5px;background:url('../images/extracted/bul_all.png') no-repeat 0 0;}*/
.all_menu_area > ul > li > ul > li > a:hover,
.all_menu_area > ul > li > ul > li > ul > li > a:hover {
  color: #0e3799;
  font-weight: 500;
}
.all_menu_area > ul > li > ul > li > a:hover:before {
  background-position: 0 -50px;
}
.all_menu_area > ul > li > ul > li > ul {
  padding: 0px 0 20px 10px;
}
.all_menu_area > ul > li > ul > li > ul > li > a {
  padding-left: 5px;
  text-indent: -5px;
}
.all_menu_area > ul > li > ul > li > ul > li > a:before {
  content: "-";
  display: inline-block;
  vertical-align: 5px;
  margin-right: 5px;
}

.all_menu_area .btn_all_clo {
  position: absolute;
  top: 0;
  right: 0px;
}

/* 상단검색 */
.btn_sch {
  position: absolute;
  top: 25px;
  right: calc(50% - 760px);
}
.btn_sch > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 2.4rem;
}
.btn_sch.off {
  display: none;
}
.btn_sch_clo {
  display: none;
  position: absolute;
  top: 25px;
  right: calc(50% - 760px);
}
.btn_sch_clo > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  font-size: 2.4rem;
}
.btn_sch_clo.on {
  display: block;
}

.sch_area {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 50px 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 30px 30px rgba(0, 0, 0, 0.05);
}
.sch_area.on {
  display: block;
}
.sch_area .sch_box {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  height: 54px;
  border: none;
  border-bottom: 2px solid #000;
  background-color: #fff;
}
.sch_area .sch_box input[type="text"] {
  border: none;
  width: calc(100% - 50px);
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  font-size: 2rem;
}
.sch_area .sch_box input::placeholder {
  color: #666;
}
.sch_area .sch_box .sch_send {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  background: url("../images/extracted/btn_sch.png") no-repeat center center;
}
.sch_area .recommend {
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
}
.sch_area .recommend > a {
  display: inline-block;
  color: #666;
  margin-left: 30px;
}
.sch_area .recommend .keyword_tit {
  background: #228eff;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 1.4rem;
}

/* 메인 custom */
#wrap:has(.main) .btn_sch {
  display: none;
}
#wrap:has(.main) .all_menu {
  right: calc(50% - 760px);
}
#wrap:has(.main) .all_menu > a {
  width: 50px;
  background: #228eff;
  color: #fff;
  border-radius: 50%;
}

/* 메인-검색 */
.sch_wrap {
  width: 100%;
}
.sch_wrap > p {
  padding-bottom: 15px;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}
/* 2020-12-10 추가 */
.sch_wrap > p.sch_tit {
  width: 450px;
  margin: 0 auto;
  text-align: left;
}
.sch_wrap > p.sch_tit > span {
  display: block;
  width: 450px;
  text-align: center;
}

.sch_wrap .sch_all {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.sch_wrap .sch_all:after {
  content: "";
  display: block;
  clear: both;
}
.sch_all .sch_box,
.sch_all .all_view {
  float: left;
}

.sch_all .sch_box {
  position: relative;
  width: 100%;
  border: 3px solid #00349d;
  border-radius: 16px;
  overflow: hidden;
}
.sch_all .sch_box .input_area {
  display: inline-block;
  width: 100%;
}
.sch_all .sch_box select {
  padding: 0 45px 0 10px;
  height: 50px;
  border: none;
  background: #fff url("../images/extracted/btn_selMain.png") no-repeat right center;
}
.sch_all .sch_box input[type="text"] {
  border: none;
  width: 100%;
  height: 64px;
  line-height: 64px;
  padding: 0 20px;
  font-size: 18px;
}
.sch_all .sch_box .sch_send {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  font-size: 0;
  background: url("../images/downloaded/btn_sch_w.png") #00349d no-repeat center center;
}

.sch_all .all_view {
  width: 190px;
  height: 54px;
  border: 2px solid #008dc9;
  border-left: 1px solid #008dc9;
  background-color: #f2f2f2;
}
.sch_all .all_view > a {
  display: block;
  padding-left: 20px;
  line-height: 48px;
}
.sch_all .all_view > a:after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 13px;
  vertical-align: middle;
  background: url("../images/extracted/bul_all.png") no-repeat -250px -150px;
}
.sch_all .all_view:hover {
  border-color: #f28300;
}
.sch_all .all_view:hover > a:after {
  background-position: -250px -170px;
}
/* 2020-12-10 추가 */
.sch_all .sch_q {
  position: absolute;
  right: -190px;
  top: 2px;
  width: 190px;
}
.sch_all .sch_q > a.q_title {
  padding-left: 15px;
  line-height: 48px;
  text-decoration: underline;
}
.sch_all .sch_q > a.q_title:before {
  content: "";
  display: inline-block;
  margin-right: 3px;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background: url("../images/extracted/bul_all.png") no-repeat -267px -100px;
}
.sch_all .sch_q .question_box {
  display: none;
  position: absolute;
  left: 16px;
  top: 46px;
  width: 320px;
  height: auto;
  padding: 16px 20px;
  background-color: #fff;
  border: 1px solid #bbb;
  box-sizing: border-box;
  z-index: 9;
}
.sch_all .sch_q .question_box > a {
  display: block;
  padding: 2px 0;
  text-align: left;
  font-size: 1.5rem;
  color: #54575f;
}
.sch_all .sch_q .question_box > a:hover {
  color: #222;
  text-decoration: underline;
}
.sch_all .sch_q .question_box > a.close_q {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 20px;
  background: url("../images/extracted/bul_all.png") no-repeat -100px 0px;
}
.sch_all .sch_q .question_box > a.close_q > span {
  display: block;
  width: 40px;
  text-align: center;
}

/* 메인 */
.group:after {
  content: "";
  display: block;
  clear: both;
}
.group > article {
  float: left;
  position: relative;
  margin-bottom: 50px;
  width: 446px;
}
.group > article:nth-of-type(2),
.group > article:nth-of-type(5) {
  margin: 0 31px;
}
.group h2 {
  margin-bottom: 20px;
  padding-bottom: 12px;
  font-size: 2.2rem;
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
}

.group > article .box {
  height: 310px;
}
.group > article .in_box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.group > article .in_box img {
  max-width: 100%; /*max-height:100%*/
  width: 100%;
  height: auto;
}
.group .self_check .box {
  background: url("../images/extracted/self_check_img.jpg") no-repeat center center;
  background-size: cover;
}
.group .tit {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
}
.group .check {
  width: 346px;
  margin: 0 auto;
}
.group .check li {
  margin-bottom: 20px;
}
.group .check li a {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 50px;
  line-height: 48px;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 500;
  border: 2px solid #fff;
  background-color: #fff;
}
.group .check li a:hover {
  color: #1664ad;
  font-weight: 500;
  border: 2px solid #68d2ff;
}
.group .check li a:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 35px;
  display: inline-block;
  width: 41px;
  height: 10px;
  background: url("../images/extracted/m_bul_all.png") no-repeat 0 0;
}

.group .symp_info .in_box a {
  display: block;
  position: relative;
  height: 100%;
}
.group .txt_bg > span {
  display: inline-block;
  padding: 10px 20px;
  line-height: 1em;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 500;
  background-color: #007db3;
} /* 웹접근성 webaccess_pub 명도 대비 */
.group .txt_bg > span:nth-of-type(1) {
  padding-top: 15px;
}
.group .txt_bg > span:nth-of-type(2) {
  padding-bottom: 15px;
}
.group .symp_info .txt_bg > span:nth-of-type(1) {
  padding-bottom: 15px;
}
.group .btn_more {
  position: absolute;
  top: 5px;
  right: 0;
}
.group .btn_more a:before {
  content: "+";
  display: inline-block;
  margin-right: 3px;
}
.group .in_box a:hover .txt_bg > span {
  color: #1664ad;
  background-color: rgba(255, 255, 255, 0.8);
}

.group .box_grey .box {
  background-color: #f0f0f0;
}
.group .mental_list {
  padding-left: 40px;
}
.group .mental_list:after {
  content: "";
  display: block;
  clear: both;
}
.group .mental_list li {
  float: left;
  width: 45%;
  padding: 20px 0;
}
.group .mental_list li:nth-child(odd) {
  width: 55%;
}
.group .mental_list li > a {
  display: table-cell;
  table-layout: fixed;
  padding-left: 45px;
  vertical-align: middle;
  line-height: 1.5em;
  text-align: left;
  height: 50px;
}
.group .mental_list li > a:hover {
  text-decoration: underline;
}

.group .mental_list li:nth-child(1) > a {
  background: url("../images/extracted/ico_mental_01.png") no-repeat 0 center;
}
.group .mental_list li:nth-child(2) > a {
  background: url("../images/extracted/ico_mental_02.png") no-repeat 0 center;
}
.group .mental_list li:nth-child(3) > a {
  background: url("../images/extracted/ico_mental_03.png") no-repeat 0 center;
}
.group .mental_list li:nth-child(4) > a {
  background: url("../images/extracted/ico_mental_04.png") no-repeat 0 center;
}
.group .mental_list li:nth-child(5) > a {
  background: url("../images/extracted/ico_mental_05.png") no-repeat 0 center;
}
.group .mental_list li:nth-child(6) > a {
  background: url("../images/extracted/ico_mental_06.png") no-repeat 0 center;
}

.group .state .in_box {
  background: url("../images/extracted/img_statics.png") no-repeat center center;
}
.group .state .in_box:hover {
  background-size: 100%;
}
.group .state .in_box > a,
.group .medi .in_box > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
}
.group .in_box .news {
  display: block;
  position: relative;
  height: 100%;
}
.group .in_box .news p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 18px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #686868;
}
.group .in_box .news:hover p {
  background-color: #333;
}

.group .medi .in_box {
  background: url("../images/extracted/img_medi.jpg") no-repeat center center;
}
.group .medi .txt_bg.posiXY {
  width: 275px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
.group .medi.faq .in_box {
  background: url("../images/extracted/img_faq.jpg") no-repeat center center;
}
.group .medi.faq .txt_bg.posiXY {
.main_sec01 .main_quick .flex_box .card01 {
  background-image: url("../images/extracted/main_quick_card01.png");
  min-height: 426px;
  padding: 10px;
}
.main_sec01 .main_quick .flex_box .card01 .tit {
  font-size: 2.4rem;
}
.main_sec01 .main_quick .flex_box .card02 {
  background-image: url("../images/extracted/main_quick_card02.png");
  min-height: 426px;
  padding: 10px;
}
.main_sec01 .main_quick .flex_box .card02 .tit {
  font-size: 2.4rem;
}
.main_sec01 .main_quick .flex_box .card03 {
  border: 2px solid #fff;
}
.main_sec01 .main_quick .flex_box .card03 .tit {
  position: relative;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  padding-left: 45px;
}
.main_sec01 .main_quick .flex_box .card03 .tit::before {
  content: "";
  width: 30px;
  height: 35px;
  background: url("../images/extracted/main_quick_card03.png") no-repeat 0 0 / cover;
  position: absolute;
  left: 0;
  top: -3px;
}
.main_sec01 .main_quick .flex_box .card04 {
  border: 2px solid #fff;
}
.main_sec01 .main_quick .flex_box .card04 .tit {
  position: relative;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  padding-left: 45px;
}
.main_sec01 .main_quick .flex_box .card04 .tit::before {
  content: "";
  width: 33px;
  height: 36px;
  background: url("../images/extracted/main_quick_card04.png") no-repeat 0 0 / cover;
  position: absolute;
  left: 2px;
  top: -4px;
}
.main_sec01 .main_quick .flex_box .card01:hover,
.main_sec01 .main_quick .flex_box .card02:hover {
  background-color: #00b6bd;
  transform: translateY(-10px);
}
.main_sec01 .main_quick .flex_box .card01:hover a,
.main_sec01 .main_quick .flex_box .card02:hover a {
  color: #fff;
}
.main_sec01 .main_quick .flex_box .card03:hover,
.main_sec01 .main_quick .flex_box .card04:hover {
  border-color: #e63c64;
}
.main_sec01 .main_quick .flex_box .card03:hover a,
.main_sec01 .main_quick .flex_box .card04:hover a {
  text-decoration: underline;
}
.main_sec02 {
  padding: 70px 0 100px;
  background: url("../images/extracted/main_sec02_bg.png") no-repeat left bottom / auto 100%;
}
.main_sec02 .flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_sec02 .left {
  width: 38%;
  padding-top: 20px;
}
.main_sec02 .right {
  width: 60%;
  max-width: 920px;
}
.main_sec02 .info_icon li {
  width: 22%;
  margin-bottom: 4%;
  text-align: center;
  transition: all ease 0.3s;
  font-family: "SCoreDream";
  font-weight: 500;
}
.main_sec02 .info_icon li a {
  position: relative;
  display: block;
  padding: 30px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff;
}
.main_sec02 .info_icon li a p {
  margin-top: 10px;
  font-size: 1.8rem;
}
.main_sec02 .info_icon li a:before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  left: -1px;
  top: -1px;
  border: 3px solid #228eff;
  border-radius: 20px;
  opacity: 0;
  transition: all ease 0.3s;
}
.main_sec02 .info_icon li:hover {
  transform: translateY(-10px);
}
.main_sec02 .info_icon li:hover a {
  box-shadow: 8px 8px 40px rgb(34 142 255 / 15%);
}
.main_sec02 .info_icon li:hover a:before {
  opacity: 1;
}
.main_sec03 {
  padding: 50px 0 100px;
}
.main_sec03 .main_tit h2 {
  font-size: 3.2rem;
}
.main_sec03 .flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_sec03 .left {
  width: 38%;
  padding-top: 56px;
}
.main_sec03 .right {
  width: 60%;
  max-width: 870px;
}
.main_sec03 .news_slider {
  position: relative;
}
.main_sec03 .news_slider .swiper-wr {
  padding-top: 60px;
  margin-top: -60px;
}
.main_sec03 .news_slider .swiper-container {
  position: inherit;
  border-radius: 20px;
  overflow: hidden;
}
.main_sec03 .news_slider .thumb {
  width: 100%;
  padding-bottom: 70%;
  position: relative;
  background: #f7f8f9;
}
.main_sec03 .news_slider .thumb > img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.main_sec03 .swiper-button-wr {
  width: 130px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
.main_sec03 .swiper-button-wr > div {
  border: 1px solid #eee;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.main_sec03 .main_news {
  border: 16px solid #fff1f3;
  border-radius: 30px;
  padding: 40px 50px 50px;
}
.main_sec03 .main_news .main_tit h2 b {
  color: #f25f82;
}
.main_sec03 .main_news .notice {
  border-top: 2px solid #000;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  padding: 30px 0;
}
.main_sec03 .main_news .notice > a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main_sec03 .main_news .notice .date {
  width: 100px;
  height: 100px;
  float: left;
  padding: 12px 0;
  border-radius: 10px;
  border: 6px solid #f25f82;
  text-align: center;
}
.main_sec03 .main_news .notice .date strong {
  display: block;
  font-size: 3.8rem;
  line-height: 1;
}
.main_sec03 .main_news .notice .tit {
  float: right;
  width: calc(100% - 120px);
}
.main_sec03 .main_news .notice .tit p::before {
  content: "N";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: #f25f82;
  border-radius: 50%;
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 5px;
}
.main_sec03 .main_news .notice .tit p {
  position: relative;
  padding-left: 30px;
  font-size: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  font-weight: 600;
}
/*.main_sec03 .main_news .notice .tit p{font-size:1.7rem; overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word; }*/
.main_sec03 .main_news .list {
  padding: 15px 15px;
  border-bottom: 1px solid #000;
}
.main_sec03 .main_news .list > li {
  margin: 10px 0;
}
.main_sec03 .main_news .list > li > a {
  display: block;
  position: relative;
  font-size: 1.7rem;
  padding-left: 20px;
  padding-right: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.main_sec03 .main_news .list > li > a:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ddd;
  position: absolute;
  left: 0;
  top: 10px;
}
.main_sec03 .main_news .list > li .date {
  color: #666;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  top: 0;
}
.main_sec04 {
  padding: 110px 0 70px;
  background: url("../images/extracted/main_sec04_bg.png") no-repeat right top / auto 100%;
}
.main_sec04 .main_tit h2 {
  font-size: 3.8rem;
}
.main_sec04 .main_tit h2 b {
  color: #c54e07;
}
.main_sec04 .flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main_sec04 .left {
  width: 28%;
  padding-top: 20px;
}
.main_sec04 .right {
  width: 70%;
  max-width: 1085px;
}
.main_sec04 .agency li {
  width: 13%;
  text-align: center;
  transition: all ease 0.3s;
  font-family: "SCoreDream";
  font-weight: 500;
}
.main_sec04 .agency li .icon {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 8px 8px 40px rgb(0 0 0 / 5%);
}
.main_sec04 .agency li p {
  margin-top: 15px;
  font-size: 1.8rem;
}
.main_sec04 .agency li:hover {
  transform: translateY(-10px);
}

/* === PC - width 100% === */

@media screen and (min-width: 961px) and (max-width: 1540px) {
  .top_area {
    padding: 0 10px;
    height: 150px;
  }
  .top_area:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    position: absolute;
    left: 0;
    top: 50px;
  }
  .top_area h1 {
    left: 50%;
    margin-left: -230px;
  }
  .top_area.move h1 {
    display: none;
  }

  .gnb_pc > nav {
    padding-left: 0;
  }
  .gnb_pc > nav > ul {
    background: #fff;
    width: calc(100% - 90px);
  }
  .gnb_pc .th1 > a {
    padding: 0 15px;
  }
  .gnb_pc .th2.on {
    padding: 20px 0 30px;
  }
  .gnb_pc .th2 > li > a {
    padding-left: 15px;
  }

  .btn_sch {
    right: 20px;
  }
  .btn_sch_clo {
    right: 20px;
  }
  #wrap:has(.main) .all_menu {
    right: 20px;
  }
  .all_menu {
    right: 60px;
  }
  .all_menu_area {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .all_menu_area > ul {
    width: calc(100% - 41px);
  }
  .all_menu_area .btn_all_clo {
    right: 0;
  }

  /* 메인팝업 */
  .noti_pop {
    max-width: 960px !important;
  }

  /* main */
  .path_top > div .sns {
    padding-right: 5%;
  }
  .main_sec01 .main_quick .flex_box .card01 .tit {
    font-size: 2rem;
  }
  .main_sec01 .main_quick .flex_box .card02 .tit {
    font-size: 2rem;
  }
  .main_sec01 .main_quick .flex_box .card01 {
    min-height: 26vw;
  }
  .main_sec01 .main_quick .flex_box .card02 {
    min-height: 26vw;
  }
  .main_sec01 .main_quick .flex_box > div img {
    width: 20px;
  }
  .main_sec01 .main_quick .flex_box > div a {
    padding: 15px;
  }
  .main_sec01 .main_quick .flex_box .card03 .tit {
    font-size: 1.4rem;
  }
  .main_sec01 .main_quick .flex_box .card04 .tit {
    font-size: 1.4rem;
  }
  .main_tit h2 {
    font-size: 3.2rem;
  }
  .main_sec02 .info_icon li a p {
    font-size: 1.4rem;
  }
  .main_sec04 .main_tit h2 {
    font-size: 3rem;
  }
  .main_sec04 .agency li p {
    font-size: 1.4rem;
  }
}

/* === Tablet === */
@media screen and (max-width: 960px) {
  #container > div {
    padding-top: 50px;
  }
  #container {
    padding-bottom: 70px;
  }
  .path_top > div .sns {
    padding-right: 5%;
  }

  /* PC 전용 */
  .top_area > ul,
  .all_menu,
  .sch_area > p,
  .sch_area .sch_box select,
  .btn_home,
  .footer .address > p,
  .path_top > div .path {
    display: none;
  }
  .footer > div .bot_sns > ul > li.pc_only,
  .pc_only {
    display: none !important;
  }

  /*.top_area, #footer, .path_top > div{max-width:100%;}
 #container.main{max-width:calc(100% - 20px);} */
  .m_nav_btn,
  .m_nav .close,
  .m_top_login,
  .m_only {
    display: block;
  }

  .footer {
    font-size: 1.4rem;
  }
  .footer > div > ul > li > a {
    margin-right: 10px;
  }
  .footer > div > ul > li + li > a::before {
    display: none;
  }
  .footer .address > address > p span {
    display: block;
  }
  .footer .address > address > p span + span {
    margin-left: 0;
  }
  .footer .ft-family {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    top: auto;
    right: auto;
  }

  /* top */
  header {
    z-index: 995;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
  }
  .top_area {
    padding-top: 8px;
    height: 50px;
  }
  .top_area h1 {
    float: none;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 223px;
    height: 31px;
  }
  .top_area.move h1 {
  }
  .gnb_area {
    position: static;
  }

  /* 상단검색 */
  .btn_sch {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding-top: 12px;
    text-align: center;
    width: 50px;
    height: 47px;
    font-size: 0;
    line-height: 0;
  }
  .btn_sch > a {
    display: inline-block;
    width: 32px;
    height: 31px;
  }
  .btn_sch_clo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    text-align: center;
    width: 50px;
    height: 47px;
    font-size: 0;
    line-height: 0;
  }
  .btn_sch_clo > a {
    display: inline-block;
    width: 26px;
    height: 24px;
  }

  .sch_area {
    top: 0;
    left: 50px;
    padding: 0;
    width: calc(100% - 100px);
    height: 50px;
    box-shadow: none;
    z-index: 99;
  }
  .sch_area .sch_box {
    margin: 0;
    width: 100%;
    height: 50px;
    border: none;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    background-color: #fff;
  }
  .sch_area .sch_box input[type="text"] {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    font-size: 1.6rem;
  }
  .sch_area .sch_box input::placeholder {
    text-align: left;
  }
  .sch_area .sch_box .sch_send {
    background-size: 20px;
  }
  .sch_area .recommend {
    display: none;
  }

  /* main */
  .main_sec01 {
    padding: 30px 0 50px;
    background-image: linear-gradient(45deg, #e7f9f6, #e3f5fe);
  }
  .main_sec01 .left {
    width: 100%;
    max-width: 100%;
  }
  .main_sec01 .right {
    width: 100%;
    margin-top: 20px;
  }
  .swiper-control-box {
    position: relative;
    width: 100%;
    max-width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 10px 20px;
  }
  .sch_all .sch_box input[type="text"] {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
  .sch_all .sch_box .sch_send {
    width: 50px;
    height: 50px;
    background-size: 20px;
  }

  .main_sec01 .main_quick .flex_box > div {
    width: 100%;
    background-size: 150px;
    background-position: bottom right;
  }
  .main_sec01 .main_quick .flex_box .card01 {
    min-height: 200px;
  }
  .main_sec01 .main_quick .flex_box .card02 {
    min-height: 200px;
  }
  .main_sec01 .main_quick .flex_box .card01 .tit {
    font-size: 2.2rem;
  }
  .main_sec01 .main_quick .flex_box .card02 .tit {
    font-size: 2.2rem;
  }
  .main_sec01 .main_quick .flex_box .card03 .tit {
    font-size: 1.8rem;
    text-align: left;
  }
  .main_sec01 .main_quick .flex_box .card04 .tit {
    font-size: 1.8rem;
    text-align: left;
  }
  .main_sec02 {
    padding: 50px 0;
  }
  .main_sec02 .left {
    width: 100%;
    padding-top: 0;
  }
  .main_sec02 .right {
    width: 100%;
    margin-top: 40px;
  }
  .main_sec02 .info_icon li {
    width: 48%;
  }
  .main_sec02 .info_icon li a {
    padding: 20px;
  }
  .main_sec02 .info_icon li img {
    max-width: 40%;
  }
  .main_tit h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .main_sec02 .info_icon li a p {
    font-size: 1.4rem;
  }

  .main_sec03 {
    padding: 50px 0;
  }
  .main_sec03 .main_tit h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  .main_sec03 .left {
    width: 100%;
    padding-top: 0;
  }
  .main_sec03 .right {
    width: 100%;
    margin-top: 30px;
  }
  .main_sec03 .main_news {
    padding: 30px;
    border: 8px solid #fff1f3;
  }
  .main_sec03 .main_news .notice {
    padding: 20px 0;
  }
  .main_sec03 .main_news .notice .tit {
    width: calc(100% - 70px);
  }
  .main_sec03 .main_news .notice .date {
    width: 50px;
    height: 50px;
    border: 2px solid #f25f82;
    padding: 5px 0;
    font-size: 10px;
  }
  .main_sec03 .main_news .notice .date strong {
    font-size: 2rem;
  }
  .main_sec03 .main_news .notice .tit p::before {
    top: 2px;
  }
  .main_sec03 .main_news .notice .tit p {
    font-size: 1.8rem;
  }
  /*.main_sec03 .main_news .notice .tit p{font-size:1.4rem;}*/
  .main_sec03 .main_news .list {
    padding: 10px 0;
  }
  .main_sec03 .main_news .list > li > a {
    padding-right: 0;
    font-size: 1.5rem;
  }
  .main_sec03 .main_news .list > li .date {
    position: relative;
    top: 0;
    display: block;
    margin-top: 5px;
  }

  .main_sec04 {
    padding: 50px 0;
  }
  .main_sec04 .left {
    width: 100%;
    paddding-top: 0;
  }
  .main_sec04 .right {
    width: 100%;
    margin-top: 30px;
  }
  .main_sec04 .main_tit h2 {
    font-size: 2.6rem;
  }
  .main_sec04 .agency li {
    width: 30%;
  }
  .main_sec04 .agency li p {
    font-size: 1.4rem;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  /* 서브 레이아웃 */
  .path_top > div .lnb_area {
    float: none;
  }
  .path_lnb {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .path_top {
    order: 2;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
  }
  .path_top > div .sns {
    float: none;
    padding: 7px 0 7px 10px;
  }

  .path_lnb h1 {
    margin: 0;
    padding: 10px 50px 10px 10px;
    line-height: 1.5em;
    font-size: 2rem;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    background-color: #f7f7f7;
  }
  .btn_m_lnb {
    display: block;
    position: absolute;
    top: -50px;
    right: 10px;
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 0;
    line-height: 0;
  }
  .path_top > div .lnb_area:has(.lnb_th2) .btn_m_lnb:after {
    content: "\e942";
    font-family: xeicon !important;
    display: inline-block;
    margin-top: 24px;
    width: 23px;
    height: 11px;
    font-size: 3rem;
    font-weight: 500;
    color: #000;
  }

  /* 2020-12-07 추가 */
  .lnb_subTitle {
    font-size: 1.6rem;
    padding: 30px 5%;
    margin: 0 auto 30px;
  }
  .lnb_subTitle:after,
  .lnb_subTitle:before {
    width: 30px;
    height: 30px;
  }

  .con_area {
    padding: 30px 10px 0 10px;
    max-width: calc(100% - 20px);
  }

  /* lnb */
  .lnb {
    display: none;
    top: 0;
  }
  .lnb > a {
    display: block;
    padding: 10px 0 15px 10px;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px solid #e8e8e8;
  }
  .lnb .lnb_th2 {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  .lnb .lnb_th2 > li {
    position: relative;
    border-bottom: none;
  }
  .lnb .lnb_th2 > li.current,
  .lnb .lnb_th2 > li.current > a {
  }

  .lnb .lnb_th2 > li > a {
    display: block;
    padding: 5px 0 5px 25px;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .lnb .lnb_th2 > li.up_over > a:after {
    content: "";
    position: absolute;
    top: 19px;
    right: 25px;
    width: 18px;
    height: 11px;
    background: url("../images/extracted/m_bul_all.png") no-repeat -150px 0;
  }
  .lnb .lnb_th2 > li.up_over.up > a:after {
    content: "";
    position: absolute;
    top: 19px;
    right: 25px;
    width: 18px;
    height: 11px;
    background: url("../images/extracted/m_bul_all.png") no-repeat -100px 0;
  }
  /*
  .lnb .lnb_th2>li.current.up_over > a:after{content:"";position:absolute;top:19px;right:25px;width:18px;height:11px;background:url('../images/extracted/m_bul_all.png') no-repeat 0px -50px;}
  .lnb .lnb_th2>li.current.up_over.up > a:after{content:"";position:absolute;top:19px;right:25px;width:18px;height:11px;background:url('../images/extracted/m_bul_all.png') no-repeat -50px -50px;}
   */

  .lnb .lnb_th3 {
    display: none;
  }
  .lnb .lnb_th2 .current .lnb_th3 {
  }
  .lnb .lnb_th3 > li {
    position: relative;
  }
  .lnb .lnb_th3 > li > a {
    display: block;
    padding: 5px 0 5px 10px;
    color: #fff;
  }
  .lnb .lnb_th3 > li > a:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0px;
    width: 3px;
    height: 3px;
    background: url("../images/extracted/m_bul_all.png") no-repeat -200px 0;
  }
  .lnb .lnb_th3 > li.current > a,
  .lnb .lnb_th3 > li > a:hover,
  .lnb .lnb_th3 > li > a:focus,
  .lnb .lnb_th3 > li > a:active {
    text-decoration: underline;
  }

  .lnb .lnb_th2 > li:last-child > .lnb_th3 {
    padding-bottom: 20px;
  }
  /* .lnb .lnb_th2 > li:last-child > a{padding-bottom:20px;}*/
  .lnb .lnb_th2 > li.current:last-child > a {
    padding-bottom: 10px;
  }

  /* Nav */
  .m_nav_btn {
    position: absolute;
    top: 13px;
    left: 10px;
    font-size: 0;
    width: 29px;
    height: 21px;
    color: #000;
  }
  .m_nav_btn:after {
    content: "\e91c";
    font-family: xeicon !important;
    font-size: 2.4rem;
  }
  .m_nav {
    z-index: 991;
    position: fixed;
    top: 0px;
    left: -1000px;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
  .m_nav #gnb {
    z-index: 991;
    position: fixed;
    left: -1000px;
    overflow: auto;
    width: 70%;
    height: 100%;
    background-color: #fff;
  }
  .m_nav #gnb.in {
    display: block;
    left: 0px;
  }
  .m_nav .backdrop {
    display: none;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.2s opacity ease;
    opacity: 0.7;
  }
  .m_nav .backdrop.in {
    display: block;
  }
  .m_nav .close {
    z-index: 999;
    display: block;
    position: absolute;
    top: 0px;
    left: calc(70% - 50px);
    padding-top: 17px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 0;
    line-height: 0;
  }
  .m_nav .close:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/downloaded/m_ico_all.png") no-repeat -150px 0;
  }

  /* 모바일 드롭다운 */
  .m_nav .m_top_login {
    height: 52px;
    background: #f8f8f8;
    font-size: 1.8rem;
  }
  .m_nav .m_top_login span {
    display: inline-block;
    padding-left: 5px;
  }
  .m_nav .m_top_login span a {
    display: inline-block;
    padding: 15px 5px 0px 5px;
  }
  .m_nav .m_top_login span.cartCount {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    background-color: #333;
    border-radius: 50%;
    vertical-align: middle;
    padding-left: 0;
  }

  .m_nav a {
    display: block;
    position: relative;
  }
  .m_nav #gnb > ul > li {
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
  }
  .m_nav #gnb > ul > li > a {
    padding: 12px 0 15px 10px;
    font-size: 2rem;
    font-weight: 600;
  }
  .m_nav #gnb > ul > li > a:after {
    position: absolute;
    right: 20px;
    top: 460;
    content: "\e942";
    font-family: xeicon !important;
    display: inline-block;
    width: 23px;
    height: 11px;
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
  }
  .m_nav #gnb > ul > li > a.active {
  }
  .m_nav #gnb > ul > li > a.active:after {
    content: "";
    top: 20px;
    background-position: -100px 0;
  }
  .m_nav .th2 {
    display: none;
    padding: 15px 0;
    background-color: #f8f8f8;
  }
  .m_nav .th2 > li > a {
    padding: 7px 0 7px 25px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .m_nav .th2 > li:last-child > a {
    border-bottom: none;
  }

  .m_nav .th2 > li.under > a:after {
    content: "";
    position: absolute;
    top: 19px;
    right: 16px;
    width: 18px;
    height: 11px;
    background: url("../images/extracted/m_bul_all.png") no-repeat -150px 0;
  }
  .m_nav .th2 > li.under > a.active:after {
    background-position: -100px 0;
  }
  .m_nav .th3 {
    display: none;
    padding: 0 0 0px 30px;
    background-color: #545760;
  }
  .m_nav .th3 > li > a {
    padding: 8px 0 8px 10px;
    color: #fff;
  }
  .m_nav .th3 > li > a:before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0px;
    width: 3px;
    height: 3px;
    background: url("../images/extracted/m_bul_all.png") no-repeat -200px 0;
  }

  #shadow_device {
    z-index: 997;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  .m_nav_clo {
    z-index: 999;
    display: block;
    position: fixed;
    content: "";
    width: 50px;
    height: 51px;
    top: 0px;
    left: 250px;
    background: #c8c8c8 url("../images/extracted/m_gnb_clo.png") no-repeat center center;
  }

  /* 모바일 Top */
  .btn_top {
    display: block;
    position: fixed;
    z-index: 990;
    right: 20px;
    bottom: 80px;
    padding-top: 25px;
  }
  .btn_top > a {
    display: block;
    padding-top: 10px;
    width: 56px;
    height: 56px;
    text-align: center;
    font-size: 1.2rem;
    color: #fff !important;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .btn_top > a:before {
    content: "";
    display: block;
    margin: 0 auto 5px auto;
    width: 15px;
    height: 14px;
    background: url("../images/downloaded/m_ico_all.png") no-repeat -300px 0px;
  }

  /* 메인팝업 */
  .noti_pop {
    left: 10% !important;
    width: 80% !important;
    height: auto !important;
    padding-bottom: 50px;
  }
  .noti_pop .pop_bottom {
    height: 50px;
  }
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
  /* 메인팝업 */
  .noti_pop {
    left: 5% !important;
    width: 90% !important;
  }
}

/* === Mobile === */
@media screen and (max-width: 480px) {
  /* Nav */
  .m_nav #gnb {
    width: calc(100% - 50px);
  }
  .m_nav .close {
    left: calc(100% - 100px);
  }
}

.gnb_area a {
  word-break: keep-all !important;
}