@font-face {
  font-family: "SCoreDream";
  font-weight: 900;
  font-display: swap;
  src:
    local("SCDream9"),
    url("../fonts/S-Core_Dream/SCDream9.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 800;
  font-display: swap;
  src:
    local("SCDream8"),
    url("../fonts/S-Core_Dream/SCDream8.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 700;
  font-display: swap;
  src:
    local("SCDream7"),
    url("../fonts/S-Core_Dream/SCDream7.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 600;
  font-display: swap;
  src:
    local("SCDream6"),
    url("./fonts/woff2/SCDream6.woff2") format("woff2"),
    url("./fonts/woff/SCDream6.woff") format("woff");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 500;
  font-display: swap;
  src:
    local("SCDream5"),
    url("../fonts/S-Core_Dream/SCDream5.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 400;
  font-display: swap;
  src:
    local("SCDream4"),
    url("../fonts/S-Core_Dream/SCDream4.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 300;
  font-display: swap;
  src:
    local("SCDream3"),
    url("../fonts/S-Core_Dream/SCDream3.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 200;
  font-display: swap;
  src:
    local("SCDream2"),
    url("../fonts/S-Core_Dream/SCDream2.otf") format("opentype");
}

@font-face {
  font-family: "SCoreDream";
  font-weight: 100;
  font-display: swap;
  src:
    local("SCDream1"),
    url("../fonts/S-Core_Dream/SCDream1.otf") format("opentype");
}
